<nav class="#651fff deep-purple accent-3" >
<div class="container">
  <a href="/" class="brand-logo left"> MyApp</a>
</div>
</nav>
<app-employees></app-employees>

<footer class="page-footer #651fff deep-purple accent-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer MyApp</h5>
       
      </div>
      <div class="col l4 offset-l2 s12">
     
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>